.signup 
{
    text-align: center;
    background-image: url(../assets/img/home/bg-pattern-header.svg);
    background-size: contain;
    background-position: top -8em center;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    margin-bottom: 0;
}

.header {
    margin-bottom: 5em;
}

.sectionA 
{
    padding: 2.875em 6.4% 18.5em;
}

.title {
    color: var(--color-3);
    composes: heading-2 from '../App.css';
    margin-bottom: .4em;
}

.body {
    margin-bottom: 5.25em;
}

.sectionB {
    position: relative;
    background-color: var(--color-4);
    height: 20em;
    margin-bottom: 0;
    background-image: url(../assets/img/sign-up/bg-pattern-side.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;

}


.form {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 445px;
    width: 87.2%;
    background-color: white;
    padding: 1.5em;
    border-radius: 16px;
    box-shadow: 0px 0px 25px rgba(37, 41, 58, 30%);
}

.textfield_wrapper 
{
    width: 100%;
    composes: textfield_wrapper from '../App.css';
}


.form_btn {
    composes: btn from '../App.css';
    margin-top: 2.5em;
    width: 100%;
    cursor: pointer;
}




@media (min-width: 768px)
{
    .signup {
        background-image: none;
    }
    .sectionA {
        padding: 4.5em 5% 22em;
    }

    .content {
        max-width: 572px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 1440px)
{
    .header {
        margin-bottom: 9em;
    }
    .signup {
        display: flex;
        align-items: stretch;
        height: 100vh;
    }
    .sectionA {
        width: 70%;
        padding: 5em 16.1%;
        text-align: left;
    }
    .content {
        margin-left: 0;
    }

    .sectionB {
        width: 30%;
        height:auto;
        background-position: top -15em center;
    }
    .form {
        transform: translate(-50%, -50%);
        left: 0px;
        top: 50%;
    }
}