.container 
{
    text-align: center;
    color: white;
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    composes: heading-4 from '../App.css';
}
.container.light .title 
{
    color: var(--color-3);
}

.title .color {
    color: var(--color-1);
}

.timer{ 
    display: flex;
    justify-content: space-between;
    gap: 0.81eml
}

.timer_num {
    padding: .68em 1em;
    width: 21.9%;
    background-color: var(--color-3);
}

.container.light .timer_num {
    color: var(--color-1);
    background-color:rgba(81, 117, 255, 10%);
}

.timer_num_value {
    font-size: 2rem;
}

.timer_num_label {
  opacity: 50%;
  color:White;
}

.container.light .timer_num_label {

  color: var(--color-3);
}




@media (min-width: 768px)
{
    .timer_num_value 
    {
        composes: heading-1 from '../App.css';
    }
}

@media(min-width: 1440px)
{
    .container {
        margin-left: 0;
    }
    .title
     {
        text-align: left;
     }
}